{% extends "base.html" %}
{% load static i18n %}
{% block content %}


<div class="container">

  <div class="jumbotron">
    <div class="cloud">
      <h1 class="display-4">
        <br>
        International Consortium<br>
        for Diagnostics &amp; Outcomes in Transplantation
      </h1>
      <br>
    </div>

    {% if not request.user.is_authenticated %}
    <div class="center-object">
      <p class="lead">
        <a id="log-in-link" class="btn btn-primary btn-lg" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
      </p>
    </div>
    {% endif %}

  </div>

  <hr/>

  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

    <div class="col px-3">

      <div class="center-object">
        <i class="mb-3 display-4 text-primary fas fa-microscope m-auto"></i>
        <h3>Established</h3>
      </div>
      <p class="lead">
        ICDOT was established by the
        <a href="https://banfffoundation.org">Banff Molecular Pathology working group</a>
        to develop a secure data repository for the Banff Allograft
        Pathology Group to contribute and access multidimensional data
        from organ transplant patients.
      </p>
    </div>

    <div class="col px-3">
      <div class="center-object">
        <i class="mb-3 display-4 text-primary fas fa-globe m-auto justify-content-center"></i>
        <h3>Worldwide</h3>
      </div>
      <p class="lead">
        Expression data generated worldwide will be integrated with histological
        and clinical data to facilitate comprehensive evaluation and mechanistic
        insights into the diagnosis and assessment of allograft rejection and injury.
      </p>
    </div>

    <div class="col px-3">
      <div class="center-object">
       <i class="mb-3 display-4 text-primary fas fa-dna m-auto justify-content-center"></i>
       <h3>Analysis</h3>
      </div>
      <p class="lead">
        In addition to centralizing data, the platform will implement
        algorithms for analysis and machine learning-based assessment
        to facilitiate the validation of molecular diagnosis to improve
        treatment and outcomes in transplant patients.
      </p>
    </div>
  </div>

  <hr/>

  <div class="founders">
      <h1>Founding Members</h1>
  </div>

  <div class="row">
    <div class="col-lg-3 col-sm-6 col-xs-12 p-1">
      <div class="h-100 w-100 p-2 d-flex align-items-center border rounded ">
        <img class="img-fluid" src="{% static 'images/landing/logo_alberta.png' %}">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 p-1">
      <div class="h-100 w-100 p-2 d-flex align-items-center border rounded ">
        <img class="img-fluid" src="{% static 'images/landing/logo_icl.png' %}">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 p-1">
      <div class="h-100 w-100 p-2 d-flex align-items-center border rounded ">
        <img class="img-fluid" src="{% static 'images/landing/logo_mgh.png' %}">
      </div>
    </div>
    <div class="col-lg-3 col-sm-6 col-xs-12 p-1">
      <div class="h-100 w-100 p-2 d-flex align-items-center border rounded ">
        <img class="img-fluid align-middle" src="{% static 'images/landing/logo_ptg.png' %}">
      </div>
    </div>
  </div>

  <hr/>

  <div class="row my-5 d-flex align-items-center">
    <div class="col-md-6 col-xs-12 px-3">
      <h2>Molecular Diagnostics</h2>
      <p class="lead mb-0">
        Recent technologies based on FFPE biopsy analysis are
        performed on the same tissue sample as used for routine
        histology, allowing direct histo-molecular data integration.
      </p>
    </div>
    <div class="col-md-6 col-xs-12 px-3 mh-50">
      <img class="stretched-image" src="{% static 'images/landing/dna.jpg' %}">
    </div>
  </div>

  <div class="row mb-5 d-flex align-items-center">
    <div class="col-md-6 col-xs-12 px-3">
      <img class="stretched-image stretched-image-center" src="{% static 'images/landing/machine.jpg' %}" height="200px">
    </div>
    <div class="col-md-6 col-xs-12 px-3">
      <h2>International collaboration</h2>
      <p class="lead mb-0">
        The ICDOT repository represents the full spectrum of
        transplant phenotypes from multiple large cohorts
        worldwide. Participating groups have <strong>secure access to
        anonymized data</strong> to facilitate a joint effort to
        validate tissue based molecular testing in transplant care.
      </p>
    </div>
  </div>


</div>
{% endblock %}
